<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MARK & LONA</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/notice.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

</head>

<body>
  <div id="announcement">
    <a href="#">
      <p id="announcement-text">[EVENT] 1월 기프트 안내</p>
    </a>
  </div>
  <header>
    <div id="logo"><a href="sub.html" target="_self"><img alt="logo" src="img/logo.png"></a></div>
    <div id="login">
      <a href="#"><img src="img/login_icon_1.png" alt="login_icon_1"></a>
      <p> </p>
      <a href="#"><img src="img/login_icon_2.png" alt="login_icon_2"></a>
      <a href="#"><img src="img/login_icon_3.png" alt="login_icon_3"></a>
    </div>
    <nav>
      <ul>
        <li><a href="sub.html" target="_self">NEW</a></li>
        <li class="big-sub-menu"><a href="sub.html" target="_self">MAN</a>
          <ul class="big-sub-name-ul">
            <li><a href="sub.html" target="_self">OUTER</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">DOWN</a></li>
                <li><a href="sub.html" target="_self">JACKET</a></li>
                <li><a href="sub.html" target="_self">VEST</a></li>
                <li><a href="sub.html" target="_self">RAIN WEAR</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">TOP</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">SHORT SLEEVE</a></li>
                <li><a href="sub.html" target="_self">LONG SLEEVE</a></li>
                <li><a href="sub.html" target="_self">SLEEVELESS</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">KNIT WEAR</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">KNIT VEST</a></li>
                <li><a href="sub.html" target="_self">KNIT WEAR</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">BOTTOM</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">LONG PANTS</a></li>
                <li><a href="sub.html" target="_self">SHORT PANTS</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="big-sub-menu"><a href="sub.html" target="_self">WOMAN</a>
          <ul class="big-sub-name-ul">
            <li><a href="sub.html" target="_self">OUTER</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">DOWN</a></li>
                <li><a href="sub.html" target="_self">JACKET</a></li>
                <li><a href="sub.html" target="_self">VEST</a></li>
                <li><a href="sub.html" target="_self">RAIN WEAR</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">TOP</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">SHORT SLEEVE</a></li>
                <li><a href="sub.html" target="_self">LONG SLEEVE</a></li>
                <li><a href="sub.html" target="_self">SLEEVELESS</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">KNIT WEAR</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">KNIT VEST</a></li>
                <li><a href="sub.html" target="_self">KNIT WEAR</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">BOTTOM</a>
              <ul class="clothes-sub-name">
                <li><a href="sub.html" target="_self">LONG PANTS</a></li>
                <li><a href="sub.html" target="_self">SHORT PANTS</a></li>
                <li><a href="sub.html" target="_self">SKIRT</a></li>
              </ul>
            </li>
            <li><a href="sub.html" target="_self">DRESS</a></li>
          </ul>
        </li>
        <li><a href="sub.html" target="_self">ONLINE ECXLUSIVE</a></li>
        <li class="small-sub-menu"><a href="sub.html" target="_self">ACC</a>
          <ul class="ul-sub-menu">
            <li><a href="sub.html" target="_self">HAT</a></li>
            <li><a href="sub.html" target="_self">GOLF BALL</a></li>
            <li><a href="sub.html" target="_self">POUCH</a></li>
            <li><a href="sub.html" target="_self">CADDIE BAG</a></li>
            <li><a href="sub.html" target="_self">BOSTON BAG</a></li>
            <li><a href="sub.html" target="_self">SHOES</a></li>
            <li><a href="sub.html" target="_self">SOCKS</a></li>
            <li><a href="sub.html" target="_self">GLOVES</a></li>
            <li><a href="sub.html" target="_self">BELT</a></li>
            <li><a href="sub.html" target="_self">ETC</a></li>
            <li><a href="sub.html" target="_self">HEAD COVER</a></li>
          </ul>
        </li>
        <li class="small-sub-menu"><a href="sub.html" target="_self">COLECTION</a>
          <ul class="ul-sub-menu">
            <li><a href="sub.html" target="_self">GENERAL</a></li>
            <li><a href="sub.html" target="_self">TOURNAMENT</a></li>
            <li><a href="sub.html" target="_self">CODE</a></li>
          </ul>
        </li>
        <li><a href="sub.html" target="_self">STYLE</a></li>
        <li><a href="sub.html" target="_self">EVENT</a></li>
        <li><a href="notice.html" target="_self">NOTICE</a></li>
        <li class="small-sub-menu"><a href="sub.html" target="_self">SNS</a>
          <ul class="ul-sub-menu">
            <li><a href="sub.html" target="_self">INSTAGRAM</a></li>
            <li><a href="sub.html" target="_self">YOUTUBE</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <!-- 게시판 영역 -->
  <div id="App">
    <div class="notice-content">
      <div class="notice-title">
        <p>공지 사항</p>
      </div>
      <div v-if="listOK">
        <table id="list">
          <tr style="background-color: #666; color: white">
            <th style="width: 70px;">글번호</th>
            <th style="text-align: left; padding-left: 20px;">글제목</th>
            <th style="width: 70px;">조회수</th>
            <th style="width: 90px;"></th>
          </tr>
          <tr v-for="item in board" v-bind:key="item.no">
            <td>{{item.no}} </td>
            <td v-on:click="boardRead(item)" style="text-align: left; padding-left: 20px;">{{item.title}}</td>
            <td>{{item.view}}</td>
            <td><button v-on:click="boardDelete(item.no)">삭제</button></td>
          </tr>

        </table>
        <div id="listBtn">
          <button class="listButton" v-on:click="boardWrite">글쓰기</button>
        </div>
      </div>
    </div>
    <my-board-read v-if="readOK" v-bind:object="boardInfo" v-on:board-list="boardList"></my-board-read>
    <my-board-write v-if="writeOK" v-on:board-list="boardList" v-on:board-save="boardSave"></my-board-write>

  </div>

  <footer>
    <div id="foot">
      <div>
        <ul class="ul">
          <li><a href="#">문의하기</a></li>
          <li><a href="#">개인 정보 정책</a></li>
          <li><a href="#">이용약관</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div>
        <ul class="ul">
          <li><a href="#">공지사항</a></li>
          <li><a href="#">배송 정책</a></li>
          <li><a href="#">환불 정책</a></li>
        </ul>
      </div>
      <div>
        <ul class="ul">
          <li><a href="#">문의하기</a></li>
          <li><a href="#">개인 정보 정책</a></li>
        </ul>
      </div>
      <div id="custom">
        <p id="customer-senter">고 객 센 터</p>
        <p id="tel">02-2105-6000</p>
        <p id="open-time">MON-FRI : AM 11:00 ~ PM 5:00<br>LUNCH PM 01:00 ~ PM 02:00<br>SAT,SUN,HOLIDAY CLOSED</p>
        <p id="fasttalk">문의하기 시 빠른 상담이 가능합니다.</p>
      </div>
      <div id="hide"></div>
      <div id="coop">
        <p>(주)제이씨패밀리</p>
        <p>대표이사 : 김예철<br>사업자등록번호 : 211-86-58580 사업자 정보 확인 / 에스크로 확인<br>통신판매업신고 : 2017-서울성동-1359<br>상호명 : (주)제이씨패밀리<br>주소
          : 서울 성동구 연무장11길 10 (성수동2가, 우리큐브)5~10층</p>
        <p>대표전화 : 02-2015-6000</p>
        <p>MARK & LONA</p>
      </div>
      <div id="coop-2024">
        © 2024 MARK & LONA ONLINE STORE KOREA trademark, logo and other rights are solely used by JC Family under
        license from MARK&LONA<br>Powered by Shopify
      </div>
    </div>
  </footer>

  <script>

    var MyBoardRead = {
      props: ["object"],
      template:
        '<div class="readDiv">\n' +
          '<table class="readTbl">\n' +
            '<tr class="readTitle">\n' +
              '<th style="width:20%;">제목</th>\n' +
              '<th style="width:80%;">{{object.title}}</th>\n' +
            '</tr>\n' +
            '<tr class="readContent">\n' +
              '<td style="width:20%;">내용</td>\n' +
              '<td style="width:80%;">{{object.content}}</td>\n' +
            '</tr>\n' +
          '</table>\n' +
          '<div>\n' +
            '<button v-on:click="boardList" style="float: right; margin-right: 20px;">목록으로</button>\n' +
          '</div>\n' +
        '</div>',
      methods: {
        boardList: function () {
          this.$emit('board-list');
        },
      },
    };
    var MyBoardWrite = {
      template:
        '<div class="writeDiv">\n' +
          '<table id="writeTbl">\n' +
            '<tr class="writeTitle">\n' +
              '<th style="width:20%;">제목</th>\n' +
              '<td style="width:80%;"><input type="text" v-model="title" style="width:100%; font-size:18px; line-height:22px;"></input></td>\n' +
            '</tr>\n' +
            '<tr class="writeContent">\n' +
              '<th style="width:20%;">내용</th>\n' +
              '<td style="width:80%;"><textarea v-model="content" style="width: 100%; height: 90%; min-height:60px; font-size:16px; line-height: 20px;"></textarea></td>\n' +
            '</tr>\n' +
          '</table>\n' +
          '<div class="writeBtnDiv">\n' +
            '<button v-on:click="boardList" style="margin-left:10px;">목록으로</button>\n' +
            '<button v-on:click="boardSave">등록하기</button>\n' +
          '</div>\n' +
        '</div>',
      methods: {
        boardList: function () {
          this.$emit('board-list');
        },
        boardSave: function(){
          this.$emit('board-save', this.title, this.content);
        },
      },
      data: 
        function(){
          return{
            title: "",
            content: ""
          }
        
      },
    };




    new Vue({
      el: "#App",
      data: {
        board: [
          { no: "1", title: "첫 게시글", content: "첫 게시글입니다", view: "1" },
          { no: "2", title: "두번째 게시글", content: "두번째 게시글입니다", view: "2" },
          { no: "3", title: "세번째 게시글", content: "세번째 게시글입니다", view: "3" },
          { no: "4", title: "네번째 게시글", content: "네번째 게시글입니다", view: "4" },
        ],
        listOK: true,
        readOK: false,
        writeOK: false,
        boardInfo: {},
      },
      components: {
        'my-board-read': MyBoardRead,
        'my-board-write': MyBoardWrite,
      },
      methods: {
        boardDelete: function (no) {
          for (var i = 0; i < this.board.length; i++) {
            if (this.board[i].no == no) this.board.splice(i, 1);
          }
        },

        boardRead: function (info) {
          this.listOK = false;
          this.readOK = true;
          this.boardInfo = info;
          for (var i = 0; i < this.board.length; i++) {
            if (this.board[i].no == info.no) this.board[i].view = parseInt(this.board[i].view) + 1;
          }
        },

        boardWrite: function(){
          this.readOK = false;
          this.listOK = false;
          this.writeOK = true;
        },

        boardList: function () {
          this.writeOK = false;
          this.readOK = false;
          this.listOK = true;
        },

        boardSave: function(title,content){
          var no = 1;
          if(this.board.length != 0){
            no = parseInt(this.board[this.board.length - 1].no) + 1;
            var board_info ={
              no: no,
              title: title,
              content: content,
              view: "1"
            };

            this.board.push(board_info);
            this.writeOK = false;
            this.readOK = false;
            this.listOK = true;
          }
        },
      },
    })
  </script>
</body>

</html>